html,
body,
#app {
  min-height: 100%;
}

#app {
  display: flex;
  flex-direction: row;
  gap: 15px;
  min-height: 100dvh;
  padding: 10px;
}

#app > * {
  background-color: white;
  box-shadow: var(--card-shadow);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
}

#nav-bar-container {
  min-height: 100dvh;
  width: 15%;
}

#main-container {
  min-height: 100dvh;
  width: 60%;
}

#overview-container {
  min-height: 100dvh;
  width: 25%;
}
